.form-group {
    margin-bottom: 10px;
  }
  
  .form-group input,
  .form-group button,
  .form-group small {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }