ul {
  list-style: none;
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  height: 350px;

  
}

.cover{
width: 90%; 
height: 80%;
object-fit: cover;
margin-bottom: 10x; 
display: flex;
flex-wrap: nowrap;
}