html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

body {
  background-image: url('https://imagenes.muyinteresante.es/files/vertical_composte_image/uploads/2022/11/19/637903f33ce12.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.color {
    color: white;
}