.listat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .post-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  .tester_centro {
    text-align: center;
  }