.acciones {
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.bt {
    height: 20px;
    text-decoration: solid;
    text-decoration: wavy;
    text-decoration-color: black;
    border-bottom: 40px;
}