.tdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  
    input,
    button,
    small {
      margin-bottom: 10px;
    }
    .accion{
      height: 30px;
      width: 200px;
    }
    .datos {
      height: 25px;
      border-radius: 10px;
    }
  }